@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

:root {
  --primary: #fff;
  --secondary: #F3A847;
  --tertiary: #da642d;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: #e42e01;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

body {
    font-family: "Roboto Condensed"  sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: .1em; 
}
.gradient_bg {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 100% 0%, rgba(182, 86, 68, 1) 0%, rgba(46, 86, 0, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 100% 0%, rgba(182, 86, 68, 1) 0%, rgba(46, 86, 0, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 100% 0%, rgba(182, 86, 68, 1) 0%, rgba(46, 86, 0, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 100% 0%, rgba(182, 86, 68, 1) 0%, rgba(46, 86, 0, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 100% 0%, rgba(182, 86, 68, 1) 0%, rgba(46, 86, 0, 1) 100%);

}

/* -------- NavBar -------- */
.navbar {
  text-transform: uppercase;
  background: transparent;
}

.navbar.active {
  margin-bottom: 100px;
  transition: 0.5s ease ;
  background-color: #37383a;
  position: fixed;
}

.navbar-brand-top {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

nav a.nav-link {
  font-weight: bold;
  letter-spacing: .0325rem;
  cursor: pointer;
}

.nav-item > .nav-link:hover {
  transition: 0.5s ease;
  border-radius: 12%;
  background-color: #ed6868;
}

nav .dropdown-menu a {
text-decoration: none;
}


/* -------- ABOUT PAGE -------- */

.profilePic {
  display: flex;
  justify-items: center;
}

@media (max-width:  1200px) {
  .profilePic {
    justify-content: center;
  }
}
@media (max-width: 990px) {
  .aboutContent{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .profilePic {
    justify-content: center;
  }
}

/* -------- CONTACT PAGE -------- */

/* -------- PORTFOLIO PAGE -------- */
.portfolioContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolioContainer div {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

/* -------- HEADER PAGE -------- */
.header-wrapper {
    position: relative;
    background: url('./assets/images/spideyMonitor.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top:  0;
  left:  0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed"  sans-serif;
}

.main-info h1{
  color: var(--tertiary);
  text-transform: uppercase;
}

.typed-text {
  font-size: 2rem;
  color:  white;
}

.linkButton {
  display: flex;
  direction: row;
  justify-content: center;
}
.linkButton a {
  margin: 5px;
  background-color: rgb(218, 99, 45);
  border-radius: 12%;
}
.linkButton a:hover{
  box-shadow: 0 12px 16px 0 rgba(237, 104, 104, 1), 0 17px 50px 0 rgba(237, 104, 104, 1);
}

.btn-main-offer {
  border: 1px solid red;
  text-transform: uppercase;
  border-radius: 0px;
  padding: .625rem .75rem .75rem .75rem;
  color: white;
  margin: 2rem;
}
/*



.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}
 */
